<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Cross Browser Suite" parallel="tests" thread-count="3">
  <test  name="chrome Test">
  <parameter name="browserType" value="chrome"/>
    <classes>
      <class name="com.Capium365.RunnerFiles.Capium365_Dashboard_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_BankTab_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_Users_Runner"/>
      </classes>
      </test>
      <test name=" edge Test">
      <parameter name="browserType" value="chrome"/>
      <classes>
      <class name="com.Capium365.RunnerFiles.Capium365_Receipts_PurchaseInvoice_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_Receipts_Receipts_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_Receipts_CreditNotes_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_Receipts_Suppliers_Runner"/> 
      </classes>
      </test>  
      <test name="firefox test">
       <parameter name="browserType" value="chrome"/>
      <classes> 
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_Invoices_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_recurringInvoice_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_CreditNotes_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_Customers_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_Estimates_Runner"/>
      <class name="com.Capium365.RunnerFiles.Capium365_InvoicesTab_Products_Runner"/>
      <class name="com.Capium365.RunnerFiles.ClientPortal_Users_Runner"/>
      <class name="com.Capium365.RunnerFiles.ClientPortal_ManageTab_Runner"/>
      <class name="com.Capium365.RunnerFiles.ClientPortal_Imports_Runner"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
